<div class="vh-100 dark:bg-[#24292F]">
  <div class="title text-center py-5 dark:text-white light:text-black">
    <h2 class="text-4xl ">Contact us</h2>
    <p class="text-xl pb-10">We'd love to hear from you! Fill out the form below and we'll get back to you as soon as
      possible.</p>
  </div>
  <div class="flex items-center justify-center mb-7 ">
    <div class="mx-auto w-full max-w-[550px]  drop-shadow-lg">
      <form>
        <div class="mb-5">
          <label for="name" class="mb-3 block text-base font-medium text-[#07074D] dark:text-white">
            Full Name
          </label>
          <input type="text" name="name" id="name" placeholder="Full Name"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
        </div>
        <div class="mb-5">
          <label for="email" class="mb-3 block text-base font-medium text-[#07074D] dark:text-white">
            Email Address
          </label>
          <input type="email" name="email" id="email" placeholder="example@domain.com"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
        </div>
        <div class="mb-5">
          <label for="subject" class="mb-3 block text-base font-medium text-[#07074D] dark:text-white">
            Subject
          </label>
          <input type="text" name="subject" id="subject" placeholder="Enter your subject"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
        </div>
        <div class="mb-5">
          <label for="message" class="mb-3 block text-base font-medium text-[#07074D] dark:text-white">
            Message
          </label>
          <textarea rows="4" name="message" id="message" placeholder="Type your message"
            class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"></textarea>
        </div>
        <div>
          <button
            class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none dark:text-white">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>

</div>
